body{ 
    font-family: 'Roboto', sans-serif; 
    color: #434455; 
    background-color: #FFFFFF; 
} 

p, h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
}

:root{ 
    --title-color: #111111; 
    --main-text-color: #ffffff; 
    --second-text-color: #111111; 
} 



.page-header {

    padding-top: 24;
    padding-bottom: 24;


}
.logo {
    font-family: "Raleway", sans-serif; 
    font-weight: 800; 
    font-size: 18px; 
    line-height: 1.17; 
    letter-spacing: 0.03em; 
    text-transform: uppercase; 
    color: #4d5ae5; 
    display: flex;
    align-items: center;
    margin-right: auto;
}
.link {
    text-decoration: none;
}

.header-container{
    display: flex;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15;
    padding-right: 15;
    margin-left: auto;
    margin-right: auto; 

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.link:hover,
.link:focus {
  color: #404bbf;
}

.page-logo-span {
    color:  #2e2f42;
}
.list {font-family: "Roboto", sans-serif;
   
}

.page-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: #404BBF;
}
.address {
font-style: normal;
}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}

.header-menu-item {
    display: flex;
    gap: 40;
}


.list {
    font-family: "Roboto", sans-serif;

}
.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    

}
.link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,:focus{
    color: #404bbf;
}

.header-address {
    display: flex;
    margin-left: auto;
    max-width: 344;
}



.hero {
    padding-bottom: 120;
}

.hero-container{
    background-color: #2e2f42;
    padding: 188px 292px 472px 472px;
}

.hero-tittle {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin-bottom: 48px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  


}
.hero-button {
    font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--main-white);
  background: var(--logo-color);
  cursor: pointer;
  min-width: 169px;
  box-shadow: 0px 4px 4px var(--button-shadow);
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  letter-spacing: 0.04em;
  margin: 0 auto;
  display: block;

}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF; 
}
.section2 {
}
.list {
    font-family: "Roboto", sans-serif;
    display: flex;
    gap: 24px;

}

.section-two-item{
    width: calc((100% - 72px) / 4);
}

.section-two-titel {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8;


}
.section-two-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-three{
    background: var(--light-background);
    padding-bottom: 120px;
}

.section-three-titel {
    font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--title-color);
  margin-bottom: 72px;
}

.section-three-list {
    display: flex;
    gap: 24px;
}
.section-three-item {
    width: calc((100% - 48px) / 3);
}


.team {
    background: var(--light-blue-background);
    padding: 120px 0;
  }
  
  .team-list {
    display: flex;
    gap: 24px;
  }
  
  .team-item {
    background-color: var(--main-white);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
  }
  
  .team-card {
    padding: 32px 16px;
  }
  
  .team-subheader {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 8px;
  }
  .team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-align: center;
  }


.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  text-transform: uppercase;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
}


PORT

.portfolio {
    background: var(--light-background);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 96px;
    padding-bottom: 120px;
  }
  .portfolio-filter {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
  }
  
  .portfolio-filter-button {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--logo-color);
    background: var(--light-blue-background);
    cursor: pointer;
    letter-spacing: 0.04em;
    align-content: center;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
  }
  
  .portfolio-filter-button:hover,
  .portfolio-filter-button:focus {
    background-color: var(--focus-color);
    color: var(--main-white);
    border: 1px solid transparent;
  }
  
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
  }
  
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    background: var(--main-white);
  }
  
  .app-name {
    padding: 32px 16px;
    border: 1px solid var(--border-color);
    border-top: none;
  }
  
  .portfolio-subheader {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
  }
  .portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }